In [19]:
import pandas as pd
indices = ["product_name", "generic_name", "stores", "ingredients_text", "ingredients_tags"]
df = pd.read_csv("./fooddb/sample.csv", sep=",")

C:\Users\rohit\AppData\Local\Temp\ipykernel_30616\3250362929.py:3: DtypeWarning: Columns (0,11,17,23,24,25,31,32,33,34,35,44,46,52,56,67,72,150) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./fooddb/foodfacrs_comma.csv", sep=",")

In [23]:
def max_token_length(string): 
    return len(str(string).split(','))

for index in indices: 
    print(index, ":\t", df[index].apply(max_token_length).max())

product_name :	 21
generic_name :	 83
stores :	 25
ingredients_text :	 684
ingredients_tags :	 391

In [22]:
df[indices].head()

,product_name,generic_name,stores,ingredients_text,ingredients_tags
0,jeunes pousses,NaN,NaN,NaN,NaN
1,Andrè,NaN,NaN,NaN,NaN
2,L.casei,NaN,NaN,"Leche semidesnatada, azucar 6.9%, leche desnat...","en:semi-skimmed-milk,en:dairy,en:milk,en:sugar..."
3,Skyr,NaN,NaN,NaN,NaN
4,Vitória crackers,NaN,NaN,NaN,NaN